@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@font-face {
    font-family: 'Myanmar';
    src: url('../fonts/Khyay-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'NicoMoji';
    src: url('../fonts/NicoMoji-Regular.ttf');
  }

:root{
    --bg-color:#FFFFFF !important;
    --main-color:#aef925;
    --alt-main-color:#A6D100;
    --second-bg-color:#F7F7F7;
    --second-main-color:#1F1F1F;
    --section-2:#EDEDEE;
    --section-3:#D5D5D5;
    --section-4:#5C5C5C;
    --section-5:#828282;
    --live-color:#F24822;
    --live-color-bg:#f2482278;
}

html{
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--second-bg-color);
}

/*LOGIN SECTION */
body{
    opacity: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}