@import url('./global.css');

/*HEADER*/

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    position: sticky;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.573);
    align-items: center;
    backdrop-filter: blur(10px);
    top: 0;
}

.header img{
    width: 30vh;
}

.register, .login{
    border-radius: 20px;
    padding: 8px 25px;
    font-family: 'M PLUS 2';
    font-weight: bold;
    cursor: pointer;
}

.header__buttons{
    display: flex;
    gap: 15px;
}

.register{
    background-color: var(--main-color);
    border: 0;
}

.login{
    border: 1px solid var(--section-4);
}

/*HERO SECTION*/
.hero{
    background-image: url('../img/statis/bellingham.webp');
    height: 80vh; 
    background-size: 100% 150%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.overlay {
    position: absolute;
    width: 40%;
    height: 100%;
}
 .overlay img{
   height: 100%;
 }

.content {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: left;
    font-size: 25px;
    font-weight: bold;
    align-items: flex-start;
    margin-bottom:5vh ;
}

.buttons{
    display: flex;
    gap: 1vh;
}

.content img{
    width: 50vh;
    background-color: black;
    border-radius: 5px;
}

.buttons button{
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background: var(--main-color);
    color: black;
    padding: 18px 0;
    width: 25vh;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary {
    background: rgba(255, 255, 255, 0.214);
    color: white;
    border: 1px solid white ;
    padding: 18px 0;
    backdrop-filter: blur(10px);
    width: 25vh;
    cursor: pointer;
}

.btn-primary:hover{
    background-color:#a7d100;
}

.btn-secondary:hover{
    background-color: white;
    color: var(--section-4);
}

/* ONEGOAL SECTION 1*/
.main__section-1{
    display: flex;
    padding: 50px 0;
    gap: 2.5%;
}

.main__section-1-img {
    width: 52%;
    height: 60vh; 
    display: flex; 
    
}

.main__section-1-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: center;
    border-radius: 2px;
}

.main__section-1-desc{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: center;
}

.main__section-1-desc p span{
    font-weight: bold;
}

.main__section-1-desc h2,
.main__section-3-desc h2,
.main__section-4-desc h2{
    font-family: 'M PLUS 2';
    margin: 0.3em 0;
}

.main__section-1-desc p{
    font-size: 20px;
    width: 70%;
    font-weight: 400;
    white-space: pre-line;
    word-spacing: 1vh;
    margin-bottom: 10px;
}

/*MAIN SECTION 2*/
.main__section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 2rem 0 3rem;
    background: linear-gradient(180deg, #828282 0%, #5C5C5C 100%);
}

.main__section-2 h3{
    font-size: 25px;
    color: var(--section-2);
    font-weight: 600;
}

.main__section-2-features{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    padding: 0 25vh;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vh;
    text-align: center;
    padding: 0 10vh;
    gap: 1vh;
}

.feature h2{
    font-size: 2.75vh;
    margin: 0;
    color: var(--main-color);
}

.feature p{
    font-size: 2vh;
    width: 32vh;
    margin: 0;
    color: var(--section-2);
}

.feature .iconify{
    font-size: 10vh;
    color: var(--section-2);
}

/* MAIN SECTION 3*/
.main__section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
}

.main__section-3-img{
    width: fit-content;
    display: flex;
    align-items: center;
}

.main__section-3-desc{
    white-space: pre-line;
    width: 40%;
    height: fit-content;
    align-items: flex-start;
    padding-left: 10vh;
    display: flex;
    flex-direction: column;
}

.main__section-3-desc button{
    padding: 15px 35px;
    border: 0;
    border-radius: 5px;
    color: var(--section-2);
    background-color: var(--second-main-color);
    font-size: 15px;
    font-weight: 600;
    font-family: 'Inter';
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.main__section-3-desc button:hover{
    color: var(--second-main-color);
    border: 1px solid var(--second-main-color);
    background-color: transparent;
}

.main__section-3-desc ol{
    margin: 0;
    padding: 0;
}

.main__section-3-img img{
    width: 100vh;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}

.main__section-3-desc li{
    margin: 0;
}

.main__section-3-desc span{ font-weight: 600;}


/*MAIN SECTION 4*/
.main__section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 4vh 0;
}

.main__section-4-img{
    height: 35vh;
    width: 100%;
}

.main__section-4-img img{
    height: 35vh;
    width: 100%;
    object-fit: cover;
    object-position: center 70%;
}

.main__section-4-desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1vh;
}

.main__section-4-desc p{
    max-width: 50%;
    line-height: 1.5;
}

.main__section-4-desc p:nth-of-type(2){
    white-space: pre-line;
}

.main__section-4-desc a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

/*SECTION 5*/
.main__section-5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 13vh 5vh;
    background-color: var(--second-main-color);
    color: var(--section-2);
    font-size: 15px;
    line-height: 2.5;
    font-weight: 200;
}


.main__section-5-icon{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__section-5 .iconify{
    font-size: 25vh;
    background: rgba(92, 92, 92, 0.50);
    border-radius: 100%;
    padding: 5vh;
    color: #828282;
}

.main__section-5-desc{
    width: 50%;
}

.main__section-5-desc p span{
    font-weight: 600;
}

.main__section-5-desc p:nth-of-type(1) span:nth-of-type(1){
    color: var(--main-color);
}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
}

.sponsor h2{
    margin: 0;
}

.sponsor{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1vh;
    font-size: 12px;
    color: white;
    align-items: center;
    justify-items: center;
    background: linear-gradient(90deg, rgba(170, 250, 18, 0.85) 0%, rgba(101, 148, 11, 0.85) 100%);
}

.sponsor-icons{
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
}

.sponsor-icons .iconify{
    color: white;
    font-size: 6vh;
}

.rev-logo{
    height: 9vh;
}

.footer-body{
    display: flex;
    flex-direction: column;
    background-color: var(--section-4);
}

.body1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid white;
}

.gmblng-text{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Merriweather Sans';
    font-weight: 100;
    font-size: 11px;
    white-space: pre-line;
}

.logo-icons{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.logo-icons img{
    height: 7vh;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-left: 3.5vh;
}

.footer-icons .iconify{
    color: white;
    padding: 5px;
    background-color: var(--section-5);
    font-size: 3.5vh;
    border-radius: 5px;
}

.gmblng-text span{
    font-weight: 600;
}

.footer-links{
    display: flex;
    align-items: center;
    text-align: right;
    color: white;
    font-family: 'Myanmar';
    font-size: 12px;
    font-weight: 200;
}

.links ul{
   margin: 0;
}

.links h4{
    margin: 0;
}

.links ul li{
    list-style-type: none;
    font-size: 10px;
}

.body2{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    color: white;
    align-items: center;
}

.body2 p{
    font-size: 10px;
}

.payment-icons{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    font-size: 3vh;
}
