@import url('./global.css');

body{
    background-color: var(--second-bg-color);
}

.main{
    display: flex;
}

.main__sidebar{
    max-width: 16%;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    padding: 0.5% 1.5%;
    gap: 2vh;
    font-family: 'Myanmar';
}

.user__options{
    display: flex;
    flex-direction: column;
}

.fav-teams__title, .suggested__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
    ;font-family: 'Inter';
    
}

.fav-teams__title h3, .suggested__title h3{
    font-size: 15px;
    font-weight: 400;
}

.suggested__title a, .fav-teams__title a{
    text-decoration: none;
    font-size: 12px;
    color: var(--section-5);
}

.suggested__title a:hover,
.fav-teams__title a:hover{
    text-decoration: underline;
}

.item-desc{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.item-desc h4, .item-desc p{
    margin: 0;
    line-height: 90%;
    font-family: 'Inter';
}

.item-desc h4{
    font-size: 13px;
    font-weight: 400;
}

.item-desc p{
    font-size: 12px;
    color: var(--section-5);
    font-weight: 300;
}

.suggested__people{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.suggested__people-item, .fav-teams__list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.suggested__people-item{
    gap: 2vh;
    padding-left: 1.5vh;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.suggested__people-item img{
    height: 6.5vh;
}

.suggested__people-item:hover{
    scale:calc(1.01);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}

.fav-teams{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fav-teams__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fav-teams__list-item{
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}



/*LOGO*/
.logo-img{
    background-color: white;
    padding: 18px 20px;
    border-radius: 5px;
}

.logo-img{
    width: 85%;
}

/*PERFIL*/
.user{
    gap: 2vh;
    display: flex;
    flex-direction: column;
}

.user__profile{
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.user__profile-banner{
    background-color: var(--section-3);
    height: 13vh;
    border-radius:5px ;
    z-index: 0;
}

.user__profile-name{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.user__profile-name > h2, p{
    margin: 0;
}

.user__profile-name h2{
    font-size: 12px;
    font-weight: 500;
}

.user__profile-name p{
    font-size: 11px;
    color: var(--section-4);
}

.user__profile-picture{
    width: fit-content;/* Centrar la imagen */
    z-index: 10;
    align-self: center;
    margin-top: -6vh;
}

.user__profile-picture img{
    width: 12vh;
}

.user__profile-stats{
    display: flex;
    justify-content: space-around;
    margin-top: -40px;
    gap: 35%;
    color: var(--section-4);
}

.user__profile-stats div{
    display: flex;
    flex-direction: column-reverse;
    font-size:10px;
}

/* BOTONES BARRA LATERAL*/
.user__options{
    align-items: center;
    gap:7px;
}

.user__options-button{
    font-family: 'Myanmar';
    width: 95%;
    white-space: nowrap;
    padding: 8px 0;
    color: var(--section-4);
    border: 0;
    background-color: var(--section-2);
    text-align: left;
    border-left: 5px solid var(--main-color);
    font-size: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.3s linear;
}



.user__options-button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    border-left: 10px solid var(--main-color);
}

.user__options-button .iconify{
    width: 27px;
    height: 27px;
    padding-left: 3vh;
}

.user__buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.user__buttons-item{
    font-family: 'Inter';
    border: 0;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 400;
    color: var(--section-4);
    cursor: pointer;
    font-size: 12px;
    background-color: var(--section-2);
    transition: all 0.3s ease-in-out;
}

.user__buttons-item:hover{
    color: var(--section-2);
    background-color: var(--section-4);
}

/*FAVOURITE CLUBS*/
.club-name{
    text-align: right;
    font-weight: 100;
}

/* MAIN PAGE */
.main__section{
    background-color: white;
    width: 84%;
    display: flex;
}

/*HOME PAGE*/
.home-page{
    width: 83%;
    display: flex;
    flex-direction: column;
    padding: 0 1%;
    gap: 13px;
}

.home__header-links ul{
    display: flex;
    gap: 9vh;
    padding: 0;
    font-family: 'Myanmar';
}

.home__header-links ul li{
    list-style-type: none;
}

.home__header-links ul li a{
    text-decoration: none;
    color: var(--section-4);
    font-size: 15px;
}

.live{
    color: var(--live-color) !important;
}

.home__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    gap: 10vh;
}

.home__header-icons{
    display: flex;
    flex-direction: row-reverse;
    gap: 2.5vh;
    color: var(--section-4);
    cursor: pointer;
    
}

.home__header-icons .iconify{
    font-size: 25px;
    background-color: var(--section-2);
    padding: 1.4vh;
    border-radius: 10px;
}

.home__banner{
    background-image: url('../img/clubs/banner.jpg');
    background-repeat: no-repeat;
    height: 48vh;
    background-size:cover;
    background-position: center;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 30px;
}

.clubs{
    display: flex;
    gap: 20px;
}

.crest {
    height: 32px;
    padding: 9px 13px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}

.crest:nth-of-type(1){
    width: 40px;
    height: 40px;  
    padding: 5px;  
}


.crest img {
    width: 100%;
    height: 100%;
}

.time-left{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'M PLUS 2';
    padding-bottom: 10px;
}

.home__banner-header{
    display: flex;
    gap: 35px;
    align-items: center;
}

.time-num{
    display: flex;
    flex-direction: column;
    line-height: 0;
    gap: 0.5vh;
    color: white;
}

.time-num p{
    font-weight: 200;
}

.home__banner-footer{
    line-height:0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home__banner-footer p:first-of-type{
    font-family: 'Lexend Exa';
    font-weight: 800;
    color: white;
    font-size: 15px;
}

.home__banner-footer h5{
    font-family: 'M PLUS 2';
    font-size: 20px;
    margin: 0.5% 0;
}

.home__banner-footer h5:nth-of-type(1){
    font-weight: 800;
}

.home__banner-footer h5:nth-of-type(2){
    font-weight: 500;
}

.home__banner-footer p{
    font-family: 'Myanmar';
    font-size: 13px;
    white-space: pre-line;
    line-height: normal;
}

.bet-now{
    width: 25%;
    border: 0;
    padding: 12px 0;
    font-family: 'M PLUS 2';
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    backdrop-filter: blur(12px);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.bet-now:hover{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.238);
    font-weight: 800;
}

.home__now-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__now-title h2{
    font-family: 'Lexend Exa';
    font-size: 18px;
    font-weight:800;
    color: var(--section-5);
    letter-spacing: -1px;
}

.home__now-title a{
    font-family: 'Inter';
    text-decoration: none;
    font-size: 13px;
    color: var(--section-4);
}

.home__now-title a:hover{
    text-decoration: underline;
}

/*NOW PLAYING*/
.match-card{
    width: 32%;
    border: 1px solid var(--section-2);
    padding: 25px 17px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.match-desc{
    font-family: 'Myanmar';
    display: flex;
    flex-direction: column;
    line-height: 0;
    gap: 20px;
}

.match-desc h4{
    font-weight: 200;
    margin: 0;
}

.match-desc h5{
    color: var(--section-3);
    font-weight: 100;
    margin: 0;
}

.live-icon{
    display: flex;
    color: var(--live-color);
    align-items: center;
    gap: 5px;
    background-color: var(--live-color-bg);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 13px;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__now{
    display: flex;
    flex-direction: column;
}

.home__now-cards{
    display: flex;
    width: 100%;
    gap: 1vh;
    justify-content: space-around;
}

.match-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NicoMoji';
    color: var(--section-3);
}

.card-clubs{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    height: 25vh;
}

.club{
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    
}

.club .club-name{
    font-family: 'Myanmar';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.club-name p{
    font-size: 13px;
    color: var(--section-3);
}

.club-name h2{
    margin: 0;
    font-weight: 300;
    font-size: 17px;
}

.club img{
    object-fit: cover;
    object-position: center;
    height: 13vh;
}

.winner{
    color: black;
}

.result{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 28px;
}

.min{
    font-size: 13px;
}

/* BET BUTTONS*/
.card-betting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.bet{
    color: var(--section-4);
    border: 0;
    padding: 16px 17px;
    border-radius: 3px;
    font-family: 'Inter';
    background-color: var(--section-2);
    box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}

.people{
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-left: -10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }

  .profile-pic:first-child {
    margin-left: 0;
  }
  
  .profile-more {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--section-2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--section-4);
    font-weight: bold;
    font-size: 14px;
    margin-left: -10px;
    border: 2px solid white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }

  .card-buttons{
    display: flex;
    align-items: center;
  }

  .watch{
    border: 0;
    background-color: var(--main-color);
    padding:9px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .watch:hover{
    scale: calc(1.05);
  }


  .card-buttons .iconify{
    font-size: 25px;
    color: var(--section-5);
    background-color: var(--section-2);
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
    cursor: pointer;
  }

  .card-buttons .iconify:hover{
    scale: calc(1.05);
  }

  /*FEATURED LEAGUES*/
  .table-header{
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: var(--section-2);
    border-radius: 10px 10px 0 0;
    gap: 1px;
  }

  .league-header img{
    height: 4.5vh;
  }

  .league-header{
    display: flex;
    align-items: center;
    gap: 14px;
    height: 6vh;
    padding: 0 10px;
    background-color: var(--section-3);
    width: 20vh;
    border-radius: 10px 10px 0 0;
  }

  .league-header.selected h4{
    color: var(--section-2) !important;
  }

  .league-header.selected{
    background-color: var(--section-4);
  }

  .league-header h4{
    font-family: 'M PLUS 2';
    line-height: 1;
    font-size: 10px;
    font-weight: 500;
    color: var(--section-4);
  }

.date{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border-left: 10px solid var(--main-color);
}

.hour, .day{
    margin-left: 12px;
}

.match-date{
    display: flex;
    align-items: center;
    width: 20vh;
    justify-content: left;
    gap: 2vh;
}

.match-cell{
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 11px;
}

.rival-1, .rival-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-family: 'M PLUS 2';
    font-weight: 600;
    color: var(--section-4);
}

.rival-1 img, .rival-2 img{
    height: 5vh;
}

.vs{
    font-family: 'M PLUS 2';
    font-size: 10px;
    font-weight: 800;
    color: var(--section-4);
    background-color: white;
    padding: 14px 10px;
    border-radius: 25px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
}

table td{
    padding: 1.5vh 0;
}

.bets-cell{
    display: flex;
    width: 30vh;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bets-cell .bet{
    font-size: 10px;
    width: 5vh;
    text-align: center;
    background-color: white;
}

.users-stats-cell{
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.users-stats-cell .iconify{
    color: var(--main-color);
    font-size: 30px;
}

table{
    border-collapse: collapse;
    font-family: 'Inter';
}

tr{
    display: flex;
    background-color: var(--section-2);
    gap: 29.5px;
    border-radius:5px;
}

tbody{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2vh;
    border: 1px solid var(--section-2);
    border-radius: 0 0 5px 5px;
}

.nn{
    padding: 14px;
}

/*SIDEBAR DER*/
.sidebar-der{
    width: 17%;
    background-color: antiquewhite;
}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
}

.sponsor h2{
    margin: 0;
}

.sponsor{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1vh;
    font-size: 12px;
    color: white;
    align-items: center;
    justify-items: center;
    background: linear-gradient(90deg, rgba(170, 250, 18, 0.85) 0%, rgba(101, 148, 11, 0.85) 100%);
}

.sponsor-icons{
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
}

.sponsor-icons .iconify{
    color: white;
    font-size: 6vh;
}

.rev-logo{
    height: 9vh;
}

.footer-body{
    display: flex;
    flex-direction: column;
    background-color: var(--section-4);
}

.body1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid white;
}

.gmblng-text{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Merriweather Sans';
    font-weight: 100;
    font-size: 11px;
    white-space: pre-line;
}

.logo-icons{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.logo-icons img{
    height: 7vh;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-left: 3.5vh;
}

.footer-icons .iconify{
    color: white;
    padding: 5px;
    background-color: var(--section-5);
    font-size: 3.5vh;
    border-radius: 5px;
}

.gmblng-text span{
    font-weight: 600;
}

.footer-links{
    display: flex;
    align-items: center;
    text-align: right;
    color: white;
    font-family: 'Myanmar';
    font-size: 12px;
    font-weight: 200;
}

.links ul{
   margin: 0;
}

.links h4{
    margin: 0;
}

.links ul li{
    list-style-type: none;
    font-size: 10px;
}

.body2{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    color: white;
    align-items: center;
}

.body2 p{
    font-size: 10px;
}

.payment-icons{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    font-size: 3vh;
}