@import url('./global.css');

body,html{
    overflow: hidden;
}

.logo{
    background-color: black;
}

.register{
    display: flex;
    flex-direction: column;
    position: relative;
}

.register__bg {
    position: relative;
    width: 100%;
    height: 120px; /* Fija la altura */
    overflow: hidden; /* Evita que la imagen desborde */
}

.bg-img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 100%;
    z-index: -1;
}

.logo{
    position: absolute;
    top: 12%;
    height: 10%;
    left: 37%;

}

.register__main{
    background-color: var(--second-bg-color);
 
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    height: 90vh;
}

.main__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 23px;
    font-weight: 300;
}

.main__title h2{
    margin: 0.75rem 0;
}

.cmnty{
    color: var(--main-color);
    white-space:pre;
    text-align: right;
    line-height: 3.5vh;
    font-size: 26px;
    margin: 15px 0;
}

.main__form{
    display: flex;
    gap: 40px;
}

.form__sidebar{
    color: var(--section-3);
    font-size: 15px;
    white-space: pre;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.form__sidebar h2{
    margin: 0.4em 0;
    cursor: pointer;
}


.selected{
    color: var(--main-color);
    font-weight: 800;
}

.form__main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px solid var(--section-3);
    background-color: var(--section-2);
    border-radius: 5px;
    padding: 10px 0;
}

.form__main-basic, .form__main-account{
    display: flex;
    align-items: flex-start;
}

.form__main-title{
    width: 35%;
    padding-left: 10vh;
    border-right: 1px solid var(--section-4);
    height: 90%;
}

.form__main-title h2{
    padding-top: 10px;
    font-weight: 400;
}

.form__main-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 1rem;
    padding-left: 3rem;
    flex-direction: column;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group input, .input-group select{
    border: 1px solid var(--section-3);
    padding: 6px 8px;
    border-radius: 4px;
    width: 30vh;
    font-family: 'Inter';
}

.input-group select{
    width: 20vh;
}

.input-group input:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--section-3);
    border: 1px solid var(--section-3); 
}

.row{
    display: flex;
    gap: 30px;
}

.input-group span, .form-group span{
    font-weight: bold;
    color: var(--main-color);
}

.form-group{
    display: flex;
    gap: 30px;
}

.gender-options{
    display: flex;
    gap: 10px;
}

.gender-options input{
    accent-color: var(--main-color);
}

.password-rules, .id-warning{
    font-size: 11px;
    padding: 0 15px;
    color: var(--section-4);
}

.id-warning span{
    font-size: 15px;
    color: rgb(56, 189, 8);
}

.id-warning{
    text-align: justify;
    white-space:pre;
    font-weight: bold;
    font-size: 11px;
}

.row:nth-of-type(1){
    align-items: center;
}

.btnNext{
    align-self: self-end;
}

.btnNext button, .btnRegister{
    padding: 12px 40px;
    margin-top: 15px;
    border: 1px solid var(--section-4); 
    background-color: transparent;
    color: var(--section-4);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btnNext button:hover , .btnRegister:hover{
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: var(--second-main-color); 
    font-weight: 800;
    box-shadow: 0px 4px 10px rgba(170, 250, 18, 0.3); /* Efecto de sombra */
}


.btnNext button:active, .btnRegister:active{
    transform: scale(0.95);
}

.back-link{
    color: var(--section-4);
}

.back-link:hover{
    color: var(--second-main-color);
}

.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    background: rgba(170, 250, 18, 0.5); 
    border-radius: 50%;
    pointer-events: none; 
    box-shadow: 0 0 20px 10px rgba(170, 250, 18, 0.3); 
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease-in-out;
    z-index: 100;
    
}

.active{
    display: flex;
}

.no-active{
    display: none;
}


.form__main-title p{
    font-size: 12px;
    color: var(--section-4);
    white-space: pre-line;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col p{
    font-style: italic;
}

.col p span{
    font-weight: bold;
}

.checkgroup{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.checkgroup label{
    font-size: 12px;
}

.checkgroup input[type="checkbox"]{
    accent-color: var(--main-color);
}

.checkgroup span{
    color: rgb(126, 192, 27);
}

.btnRegister{
    padding: 10px 70px;
}

.payment-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg-color);
    width: 185px;
    padding: 15px 5px;
    border: 0.5px solid #828282;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    color: #828282;
}


.payment-box i{
    font-size: 30px;
    color: inherit;
}

.boxes{
    gap: 15px;
}

.col h3{
    font-size: 15px;
    color: #828282;
    font-weight: 400;
    margin: 0.5rem;
}

.col h3 span{
    font-weight: bold;
    color: var(--second-main-color);
}

.payment-box h3{
    font-size: 13px;
    font-weight: bold;
    color: inherit;
}

.payment-box:hover{
    background-color: #828282;
    color: white;
}

label{
    font-size: 15px;
}

#col-boxes{
    gap: 15px;
}

/* MEDIA QUERIES */
@media(max-width:768px){

    body{
        background-color: var(--second-bg-color);
    }

    body, html{
        overflow-y: scroll;
    }
    .main__title{
        flex-direction: column-reverse;
        font-size: 20px;
        padding-top: 20px;
    }

    .form__sidebar{
        display: none;
    }

    .cmnty{
        text-align: left;
        white-space: normal;
    }

    .logo{
        position: static;
        width: 90%;
    }

    .register__logo{
        display: flex;
        justify-content: center;
        margin-top: -7%;
    }

    .register__main{
        padding: 0 35px;
        height: 100%;
    }

    .cursor{
        display: none;
    }

    .form__main-basic, .form__main-account{
        flex-direction: column;
    }

    .form__main-title{
        padding-left: 0;
        width: 100%;
        border: 0;
        border-bottom: 1px solid var(--section-4);
    }

    .form__main{
        border: 0;
        background-color: transparent;
    }

    .form__main-title h2{
        padding-top: 0;
        font-size: 20px;
    }

    .form__main-inputs{
        padding: 1rem 0;
        gap: 15px;
        width: 100%;
    }

    .row{
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .input-group{
        width: 90%;
    }

    .btnNext{
        display: none;
    }

    .input-group input, .input-group select{
        width: auto;
    }

    .form-group{
        justify-content: center;
    }

    .form__main:nth-of-type(3),
    .form__main:nth-of-type(4){
        display: flex !important;
    }

    .main__form{
        flex-direction: column;
        gap: 0;
    }

    .id-warning {
        white-space: normal;
        text-align: left;
    }

    .col{
        align-items: center;
        gap: 15px;
    }

    .payment-box{
        width: 220px;
        padding: 25px 5px;
    }

    input[type="checkbox"]{
        transform: scale(1.5);
    }

    .btnRegister{
        padding: 15px 70px;
    }
}